<h3>Your opinion is important!<br>Please take a minute and leave a message</h3>
 
<table class="table table-responsive">
  <tr class="warning">
    <th>Email</th>
    <th>Comment</th>
    <th colspan="3"></th>
  </tr>
 
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.email %></td>
      <td><%= comment.content%></td>
    </tr>
    </tr>
  <% end %>
</table>

<%= link_to 'Leave a message', new_comment_path, :class => "btn btn-success" %>
<%= link_to 'Back to blog', posts_path, :class => "btn btn-success" %>