<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to my blog</h1>
    <h2>Have a nice day <span class="glyphicon glyphicon-apple" aria-hidden="true"></span></h2>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
